.container {
  margin: 0 auto;
  width: 450px;
  height: calc(100vh - 90px);
  color: white;
  @include flexCenter();
  form {
    @include flexCenter();
    background-color: #0c0c0ccc;
    width: 100%;
    height: 60%;

    .title {
      height: 20%;
      width: 80%;
      @include flexCenter();
      justify-content: flex-end;
      h3 {
        font-size: 30px;
        margin: 0;
      }
    }

    .inputs {
      width: 80%;
      height: 80%;
      margin-bottom: 20px;
      @include flexCenter();
      label,
      input {
        padding: 10px;
        padding-left: 0;
        width: 250px;
        text-align: left;
      }
      input,
      button {
        border: none;
        border-radius: 25px;
        padding: 10px;
        &:focus {
          outline: none;
        }
      }
      button {
        width: 270px;
        margin-top: 25px;
        background-color: $mainColor;
        font-size: 16px;
        a {
          text-decoration: none;
          color: white;
        }
      }
      .login-spans {
        width: 270px;
        margin: 20px;
        margin-bottom: 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
      .create-account {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .container {
    width: 100vw;
    form {
      width: 80%;
      .inputs {
        span {
          font-size: 14px;
        }

        .create-account {
          margin-top: 8px;
        }
      }
    }
  }
}

@media screen and(max-width: 375px) {
  .container {
    form {
      .title h3 {
        font-size: 22px;
      }
      .inputs {
        input,
        label {
          width: 220px;
          padding: 6px;
        }
        button {
          width: 235px;
          padding: 6px;
          font-size: 15px;
          margin-top: 20px;
        }
        .login-spans {
          margin: 0;
          margin-top: 10px;
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and(max-width: 320px) {
  .container {
    form {
      .inputs {
        input,
        label {
          width: 200px;
          padding: 6px;
        }
        button {
          width: 215px;
          padding: 4px;
          margin-top: 20px;
        }

        .login-spans {
          font-size: 13px;
        }
      }
    }
  }
}
