.loader_coffee {
  background: burlywood;
  height: 105px;
  width: 110px;
  border: 10px solid burlywood;
  box-shadow: 0 0 0 10px white;
  margin: auto;
  position: relative;
  border-radius: 0 0 110px 110px;
  background-image: linear-gradient(
    0deg,
    white 0,
    white 110px,
    transparent 110px,
    transparent 230px
  );
  background-size: 230px 230px;
  background-position: 0 0;
  animation: fill 2s infinite;
}

.loader_coffee:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 25px;
  border: 10px solid white;
  border-radius: 0 40px 40px 0;
  right: -55px;
}
@keyframes fill {
  100% {
    background-position: 0 -110px;
  }
}

/* content  */

.userProfile-container {
  @include flexCenter();
  height: calc(100vh - 90px);
  width: 100%;

  .main {
    text-align: center;
    opacity: 0;
    display: none;
    transition: opacity 1.5s;
    color: #fff;
    text-shadow: -3px 1px 5px #1f1e1e;
    width: 70%;
    margin: 50px auto;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      color: #f1f1f1;
    }

    .buttons button {
      padding: 10px;
      margin: 10px;
      font-size: 16px;
      border: none;
      font-weight: 600;
      color: gray;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgb(212, 208, 202);
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: gray;
      }
    }
  }
}

@media screen and (max-width: 321px){
.userProfile-container{

  .main{
    h1{
      font-size: 28px;
    }

    .buttons button{
      font-size: 14px;
      padding: 8px;
      margin: 5px;
    }
  }
}
}