body {
  margin: 0;
  background-image: url("../images/education.jpg");
  height: 100vh;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

header {
  height: 90px;
  width: 100%;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

header h2 {
  margin: 0;
  text-shadow: -3px 1px 5px #1f1e1e;
}

.container {
  margin: 0 auto;
  width: 450px;
  height: calc(100vh - 90px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0ccc;
  width: 100%;
  height: 60%;
}

.container form .title {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.container form .title h3 {
  font-size: 30px;
  margin: 0;
}

.container form .inputs {
  width: 80%;
  height: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container form .inputs label,
.container form .inputs input {
  padding: 10px;
  padding-left: 0;
  width: 250px;
  text-align: left;
}

.container form .inputs input,
.container form .inputs button {
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.container form .inputs input:focus,
.container form .inputs button:focus {
  outline: none;
}

.container form .inputs button {
  width: 270px;
  margin-top: 25px;
  background-color: #fb3d3d;
  font-size: 16px;
}

.container form .inputs .login-spans {
  width: 270px;
  margin: 20px;
  margin-bottom: 0px;
}

.container form .inputs .create-account {
  margin-bottom: 20px;
}

@media screen and (max-width: 415px) {
  .container {
    width: 100vw;
  }
  .container form {
    width: 80%;
  }
  .container form .inputs span {
    font-size: 14px;
  }
  .container form .inputs .create-account {
    margin-top: 8px;
  }
}

@media screen and (max-width: 375px) {
  .container form .title h3 {
    font-size: 22px;
  }
  .container form .inputs input,
  .container form .inputs label {
    width: 220px;
    padding: 6px;
  }
  .container form .inputs button {
    width: 235px;
    padding: 6px;
    font-size: 15px;
    margin-top: 20px;
  }
  .container form .inputs .login-spans {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .container form .inputs input,
  .container form .inputs label {
    width: 200px;
    padding: 6px;
  }
  .container form .inputs button {
    width: 215px;
    padding: 4px;
    margin-top: 20px;
  }
  .container form .inputs .login-spans {
    font-size: 13px;
  }
}

.loader_coffee {
  background: burlywood;
  height: 105px;
  width: 110px;
  border: 10px solid burlywood;
  box-shadow: 0 0 0 10px white;
  margin: auto;
  position: relative;
  border-radius: 0 0 110px 110px;
  background-image: linear-gradient(0deg, white 0, white 110px, transparent 110px, transparent 230px);
  background-size: 230px 230px;
  background-position: 0 0;
  animation: fill 2s infinite;
}

.loader_coffee:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 25px;
  border: 10px solid white;
  border-radius: 0 40px 40px 0;
  right: -55px;
}

@keyframes fill {
  100% {
    background-position: 0 -110px;
  }
}

/* content  */
.userProfile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 90px);
  width: 100%;
}

.userProfile-container .main {
  text-align: center;
  opacity: 0;
  display: none;
  transition: opacity 1.5s;
  color: #fff;
  text-shadow: -3px 1px 5px #1f1e1e;
  width: 70%;
  margin: 50px auto;
}

.userProfile-container .main h1 {
  font-size: 40px;
}

.userProfile-container .main p {
  font-size: 20px;
  color: #f1f1f1;
}

.userProfile-container .main .buttons button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  color: gray;
  border-radius: 5px;
}

.userProfile-container .main .buttons button:focus {
  outline: none;
}

.userProfile-container .main .buttons button:hover {
  background-color: #d4d0ca;
  cursor: pointer;
}

.userProfile-container .main .buttons button a {
  color: gray;
}

@media screen and (max-width: 321px) {
  .userProfile-container .main h1 {
    font-size: 28px;
  }
  .userProfile-container .main .buttons button {
    font-size: 14px;
    padding: 8px;
    margin: 5px;
  }
}

.container-signup {
  margin: 0 auto;
  width: 450px;
  height: calc(100vh - 90px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-signup form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0c0c0ccc;
  width: 100%;
  height: 70%;
}

.container-signup form .title-signup {
  height: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.container-signup form .title-signup h3 {
  font-size: 30px;
  margin: 0;
}

.container-signup form .inputs-signup {
  width: 90%;
  height: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-signup form .inputs-signup label,
.container-signup form .inputs-signup input {
  padding: 10px;
  padding-left: 0;
  width: 250px;
  text-align: left;
}

.container-signup form .inputs-signup input,
.container-signup form .inputs-signup button {
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.container-signup form .inputs-signup input:focus,
.container-signup form .inputs-signup button:focus {
  outline: none;
}

.container-signup form .inputs-signup button {
  width: 270px;
  margin-top: 25px;
  background-color: #fb3d3d;
  font-size: 16px;
}

@media screen and (max-width: 415px) {
  .container-signup {
    width: 100vw;
  }
  .container-signup form {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .container-signup form .title h3 {
    font-size: 22px;
  }
  .container-signup form .inputs-signup input,
  .container-signup form .inputs-signup label {
    width: 200px;
    padding: 6px;
  }
  .container-signup form .inputs-signup button {
    width: 215px;
    padding: 6px;
    font-size: 15px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .container-signup form .inputs input,
  .container-signup form .inputs label {
    width: 200px;
    padding: 6px;
  }
  .container-signup form .inputs button {
    width: 215px;
    padding: 4px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */